<p id="notice"><%= notice %></p>
 
<strong>Название:</strong>
<%= @programm.name %>
 
<strong>Описание:</strong>
<%= @programm.desc.html_safe %>
<hr />

<%= link_to 'Edit', edit_programm_path(@programm) %> |
<%= link_to 'Back', programms_path %>
 