
<% if @employee.avatar.url == nil %>
	Загрузите фото сотрудника
<% end %>
<%= form_for @employee do |f| %>  
	<div class="topSectAv">
		<div class="avatarSect1" style="background-image: url('<%= @employee.avatar.tiny.url %>')">
			
		   
		  <% unless @employee.avatar? %>
			  <%= f.file_field :avatar %>
			  <%= f.hidden_field :avatar_cache %> 
			<% end %>
			<div class="fotoEdit">
				<% if @employee.avatar? %>  
					<label><%= f.check_box :remove_avatar %>Удалить</label>
				<% end %>

			</div> 
			
		</div>
		<div class="avatarSect2">
			<%= f.cktext_area :spec %> 
			 
		</div>
	</div>
	<%= f.text_field :name %>
	<%= f.cktext_area :desc, cols: 40, rows: 10  %> 
  <%= f.submit "Сохранить" %>
<% end %>


<!--  
	<% if @employee.avatar? %>
		<%= content_tag :div,
		  id: "employee-form",
		  data: {
		  	id: employee.id,
		 
		    employee: employee.to_json(except: [:created_at, :updated_at])
		  } do %>
		<% end %>
	<% end %> -->

 

