
<% if @employee.avatar.url == nil %>
	Загрузите фото сотрудника
<% end %>
<%= form_for @employee do |f| %> 
	<h5>Как зовут сотрудника:</h5>
	<p style= "text-indent: 0em;">
		<%= f.text_field :name  %> 
	</p>
	<div class="topSectAv">
		<div class="avatarSect1" style="background-image: url('<%= @employee.avatar.tiny.url %>')">
		  <% unless @employee.avatar? %>
			  <%= f.file_field :avatar %>
			  <%= f.hidden_field :avatar_cache %> 
			<% end %>
			<div class="fotoEdit">
				<% if @employee.avatar? %>  
					<label><%= f.check_box :remove_avatar %>Удалить</label>
				<% end %>
			</div> 
		</div>
		<div class="avatarSect2" style="padding:0 0 0 1em;">
			<h5>Специализация:</h5>
			<%= f.text_area :spec %> 
		</div>
	</div>
	<h5>Основная информация:</h5>
	<%= f.cktext_area :desc   %> 
 
 	  <%= f.submit "Сохранить", :class => "button" %>	
 
 

<% end %>


<!--  
	<% if @employee.avatar? %>
		<%= content_tag :div,
		  id: "employee-form",
		  data: {
		  	id: employee.id,
		 
		    employee: employee.to_json(except: [:created_at, :updated_at])
		  } do %>
		<% end %>
	<% end %> -->

 

