<p id="notice"><%= notice %></p>
<p>
	Название:
	<%= @employee.name %>
</p> 
<p>
	Аватара:
	<%= image_tag(@employee.avatar_url.to_s) if @employee.avatar?%>
</p> 
	<label>Миниатюра:</label>
<p>
	<%= image_tag @employee.avatar.thumb.url if @employee.avatar?%>
</p>
Описание:
<% if @employee.desc %> 
	<%= @employee.desc.html_safe %>
<% end %>
<hr />

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
 