
<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <div>
    <%= f.file_field :image, :class => "button" %>
    <%= f.cktext_area :desc %>
  </div>

  <div>
    <%= f.submit "Сохранить",  :class => "button"%>
  </div>
<% end %>
