<%= form_for @employee do |f| %>   
  <p>
    <label>Фото сотрудника:</label>
    <%= image_tag(@employee.avatar_url) if @employee.avatar? %>  
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>  
    <%= f.submit "Сохранить" %>
<% end %>
<%= content_tag :div,
  id: "employee-form",
  data: {
  	id: employee.id,
 
    employee: employee.to_json(except: [:created_at, :updated_at])
  } do %>

<% end %>
