<h1>Сотрудники</h1>
<table>
  <thead>
    <tr>
      <th>Имя:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if user_signed_in? %>
 
    <% end %>
    <% @employees.each do |employee| %>
      <tr data-item_id="<%= employee.id %>">
        <td><%= employee.name %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><span class="deleteAction">Destroy</span></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Новый сотрудник', new_employee_path %>