<p id="notice"><%= notice %></p>
<div class="topSectAv">
	<div class="avatarSect1"  style="background-image: url('<%= @employee.avatar.tiny.url %>')">
	</div>
	<div class="avatarSect2">
		<h2><%= @employee.name.mb_chars.titleize %></h2>
		<%= @employee.spec.html_safe %>
	</div>
</div>

<% if @employee.desc %> 
	<%= @employee.desc.html_safe %>
<% end %>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
 