<p id="notice"><%= notice %></p>
<p>
	Название:
	<%= @employee.name %>
</p> 
<p>
	Аватара:
	<%= image_tag(@employee.avatar_url.to_s) %></p> 
 
Описание:
<%= @employee.desc.html_safe %>
<hr />

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
 